#title-section .section-body {
  /* background-color: rgba(216, 106, 121, 0.6); */
  justify-content: center;
  align-items: center;
}
.wrapper {
  height: 100%;
  width: 100%;
  max-width: 55rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  /* background-color: rgba(212, 154, 27, 0.6); */
}

.profile-image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(51, 102, 241, 0.6); */
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
  height: 100%;
}
.profile-image {
  object-fit: fill;
  aspect-ratio: 1.08;
  height: 18.5rem;
  width: 20rem;
  /* border: 1px solid #fff; */
  /* 128 x 118 => 64 x 59 => 32 x 29.5 => 20 x 18.5 */
}

.content-wrapper {
  /* background-color: rgba(121, 179, 27, 0.6); */
  width: 100%;
  padding: 10px;
}
.name-text {
  font-size: 6rem;
  text-transform: uppercase;
  color: #e88c5d;
  /* color: rgb(64, 124, 118); */
  /* text-align: right; */
  text-shadow: 2px 2px 5px #933f99;
}
.desc {
  margin-top: 20px;
  /* margin-left: 50px; */
  line-height: 2.5rem;
  font-size: 1.3rem;
  color: #fadbac;
}
.desc a {
  text-transform: uppercase;
  border-bottom: 2px solid var(--light-yellow);
  padding-bottom: 5px;
  transition: color 0.5s ease, border-color 0.5s ease;
}
.desc a:hover {
  border-color: var(--orange);
  color: var(--orange);
}

.scroll-down-icon {
  border: 3px solid var(--yellow);
  height: 80px;
  width: 50px;
  border-radius: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.scroll-indicator {
  height: 15px;
  aspect-ratio: 1;
  background-color: var(--orange);
  border-radius: 100%;
  animation: scrollDown 1.8s ease-out infinite;
}

@keyframes scrollDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    gap: 2rem;
  }
  .content-wrapper {
    padding: 0;
  }
  .name-text {
    font-size: 4rem;
    text-align: center;
  }
  .desc {
    line-height: 2rem;
    font-size: 1rem;
    color: #fadbac;
  }
  .scroll-down-icon {
    margin-top: 0;
  }
}
