#toolbox-section .section-body {
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
  flex-wrap: wrap;
  padding: 1rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
  row-gap: 5px;
  min-width: 100%;
}

.skill-content {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 10px;
  max-width: 70rem;
}
.skill-section {
  padding: 5px 15px;
}
.skill-section-title {
  text-transform: capitalize;
  font-size: 1.6rem;
  padding: 10px 0;
  color: #e88c5d;
}
.skill-section-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px 10px;
  padding: 10px 0;
}
.skill-content-item {
  padding: 5px 15px;
  border-radius: 20%/50%;
  background-color: rgba(146, 62, 152, 0.4);
  backdrop-filter: blur(2px);
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {
  .skill-content {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .skill-section-title {
    font-size: 1.2rem;
  }
}
