#toolbox-section .section-body {
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
  flex-wrap: wrap;
  padding: 1rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
  row-gap: 5px;
  min-width: 100%;
}

.hex-row {
  display: flex;
  flex-direction: row;
  gap: 0px 20px;
  justify-content: center;
  /* align-items: center; */
}

.hex-wrapper {
  cursor: pointer;
  transition: transform 0.2s ease-out;
  transform-origin: center;
}
.hex-wrapper:hover {
  transform: scale(1.1);
}

.circle {
  background: rgba(146, 62, 152, 0.5);
  /* background-color: rgba(232, 140, 93, 0.5); */
  height: 160px;
  aspect-ratio: 1;
  position: relative;
  border-radius: 100%;
  box-shadow: 0 -5px 10px 1px rgba(0, 0, 0, 0.3) inset;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hex-row:nth-child(odd) .hex-wrapper:nth-child(odd) .circle,
.hex-row:nth-child(even) .hex-wrapper:nth-child(even) .circle {
  background: rgba(176, 65, 184, 0.5);
  background-color: rgba(232, 140, 93, 0.5);
}
.circle-icon-wrapper {
  position: relative;
  height: 60%;
  width: 60%;
}
.circle-text {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
  /* font-weight: 600; */
  text-transform: uppercase;
  line-height: 1.8;
  user-select: none;
  padding: 20px;
  background: rgba(22, 22, 22, 0.8);
  border-radius: inherit;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.circle:hover .circle-text {
  opacity: 1;
}

@media only screen and (min-width: 2000px) {
  #toolbox-section .section-body {
    min-width: 0;
    max-width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  #toolbox-section .section-body {
    padding-bottom: 3rem;
  }
  .circle {
    height: 60px;
  }
}
