#article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 50px 0 30px 0;
}
#article-container-empty {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 35px;
  text-align: center;
  color: rgba(var(--foreground-rgb), 0.6);
}

.article--card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
  border: 2px solid rgba(var(--foreground-rgb), 0.2);
  overflow: hidden;
  transition: all 0.15s ease-in-out;
  width: 100%;
  max-width: 48rem;
  position: relative;
}
.article--card:hover {
  transform: scale(1.02);
}

.article--card--new-tag {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: rgb(var(--accent-1-rgb));
  color: rgb(var(--foreground-rgb));
  animation: blink 2s infinite;
}

.article--card--content {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  padding: 0.8rem 1.5rem;
  min-width: 0;
}

.article--card--title {
  color: rgb(var(--foreground-rgb));
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.article--card--desc {
  color: rgba(var(--foreground-rgb), 0.6);
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 1rem;
}

.article--card--footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article--card--posted-date {
  font-size: 12px;
  color: rgba(var(--foreground-rgb), 0.6)
}
.article--card--link-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  margin-top: auto;
}

.article--card--link-item {
  color: rgba(var(--foreground-rgb), 0.6);
  width: 2rem;
  aspect-ratio: 1;
  transition: color 0.15s ease-in-out;
  position: relative;
}
.article--card--link-item:hover {
  color: rgba(var(--accent-1-rgb), 1);
}

.link-item--tooltip {
    position: absolute;
    left: -50%;
    top: -2rem;
    font-size: 0.75rem;
    line-height: 1rem;
    background-color: rgb(var(--foreground-rgb));
    color: rgb(var(--background-rgb));
    padding: 0.25rem;
    width: max-content;
    display: none;
}
.article--card--link-item:hover .link-item--tooltip {
    display: block;
}

@keyframes blink {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

@media only screen and (max-width: 768px) {
  #article-container-empty {
    font-size: 1.2rem;
  }
}