@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

:root {
  --foreground-rgb: 27, 27, 27;
  --background-rgb: 255, 250, 240;
  --background-start-rgb: 255, 250, 240;
  --background-end-rgb: 255, 250, 240;
  --accent-2-rgb: 156, 86, 220;
  --accent-1-rgb: 131, 44, 211;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 250, 240;
    --background-rgb: 27, 27, 27;
    --background-start-rgb: 27, 27, 27;
    --background-end-rgb: 27, 27, 27;
    --accent-1-rgb: 156, 86, 220;
    --accent-2-rgb: 131, 44, 211;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));

  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
