.projects-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

/* PROJECT CARD */
.project-card {
  width: 30rem;
  /* border: 1px solid rgb(var(--foreground-rgb)); */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}
.project-image {
  width: 100%;
  height: 15rem;
  background-color: rgb(var(--foreground-rgb));
  position: relative;
}
.project-image > img {
  object-fit: cover;
}
.project-image::after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  height: 40%;
  background: linear-gradient(
    to top,
    rgb(var(--foreground-rgb)) 10%,
    transparent
  );
  z-index: 10;
}
.project-details {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  flex-grow: 1;
  background-color: rgba(var(--foreground-rgb), 1);
  color: rgb(var(--background-rgb));
}
.project-name {
  font-size: 1.4rem;
  border-bottom: 1px solid rgb(var(--accent-1-rgb));
}
.project-desc {
  font-size: 1rem;
  line-height: 1.8;
  flex-grow: 1;
}
.project-tech-wrapper > p {
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(var(--background-rgb), 0.8);
}
.project-tech-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}
.project-tech-item {
  padding: 2px 10px;
  color: rgb(var(--foreground-rgb));
  background-color: rgba(var(--background-rgb), 0.8);
}
.project-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.project-category {
  padding: 0 5px;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(var(--foreground-rgb));
  background-color: rgba(var(--background-rgb), 0.8);
  border-radius: 5px;
  user-select: none;
}
.project-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0 10px;
  justify-self: flex-end;
}
.project-link-src {
  transition: color 0.2s ease-out;
}
.project-link-live {
  padding: 0 5px;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  border-radius: 5px;
  transition: background-color 0.2s ease-out;
}
.project-link-src:hover {
  color: rgb(var(--accent-1-rgb));
}
.project-link-live:hover {
  background-color: rgb(var(--accent-1-rgb));
}

.repo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.repo-container a {
  width: 40%;
}
.repo-button {
  padding: 10px 20px;
  text-align: center;
  border: 2px solid rgb(var(--accent-1-rgb));
  cursor: pointer;
  font-family: var(--font-montserrat);
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
}
.repo-button:hover {
  color: rgb(var(--accent-1-rgb));
}

@media only screen and (max-width: 768px) {
  .projects-container {
    margin-top: 20px;
  }
  .repo-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .repo-container a {
    width: 80%;
  }
  .repo-button {
    font-size: 1rem;
  }
}
