#hero-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#hero-section .section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

#details-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 2;
  background-color: rgba(var(--background-rgb), 0.8);
  padding: 0 2rem 1.8rem 2rem;
  font-family: var(--font-montserrat);
  margin-bottom: 1rem;
  border: 1px solid rgba(var(--accent-1-rgb), 0.1);
}
#details-wrapper > h1 {
  font-weight: 400;
  font-size: 6rem;
  text-transform: uppercase;
  color: rgba(var(--foreground-rgb), 1);
  user-select: none;
}
#details-wrapper > h2 {
  font-weight: 200;
  font-size: 1.2rem;
  color: rgba(var(--foreground-rgb), 1);
  user-select: none;
  line-height: 1.625;
}

#resume-button {
  display: flex;
  flex-direction: row;
  font-family: var(--font-montserrat);
  font-size: 1.4rem;
  font-weight: 400;
  padding: 15px 25px;
  column-gap: 20px;
  align-items: center;
  cursor: pointer;
  background-color: rgba(var(--background-rgb), 0);
  backdrop-filter: blur(2px);
  border: 2px solid rgb(var(--accent-1-rgb));
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  text-transform: uppercase;
}
#resume-button:hover {
  background-color: rgba(var(--background-rgb), 1);
  color: rgba(var(--accent-1-rgb), 1);
}

@media only screen and (max-width: 768px) {
  #intro-section .section-content {
    row-gap: 50px;
  }

  #details-wrapper > h1 {
    font-size: 4rem;
  }
  #details-wrapper > h2 {
    font-size: 0.8rem;
  }

  #resume-button {
    font-size: 1rem;
  }
}
