#experience-section .section-title {
  display: flex;
  flex-direction: row;
}
#experience-section .section-title p {
  cursor: pointer;
  transform-origin: bottom;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  padding: 0 10px;
}
#experience-section .section-title p:first-child {
  border-right: 1px solid rgba(var(--accent-1-rgb));
}
#experience-section .section-title p:nth-child(3) {
  border-left: 1px solid rgba(var(--accent-1-rgb));
}
#experience-section .section-title p.inactive {
  color: rgba(var(--foreground-rgb), 0.2);
  border: none;
}

#content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
#content-container {
  width: 80%;
  max-width: 70rem;
}

.content-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}

.content-banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 1rem;
}
.content-banner-text-wrapper {
  display: flex;
  flex-grow: 1;
}
.content-banner-title,
.content-banner-duration {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
  row-gap: 10px;
}
.content-banner-title > div:first-child {
  color: rgba(var(--foreground-rgb));
  font-size: 1.5rem;
}
.content-banner-title > div:nth-child(2) {
  color: rgba(var(--foreground-rgb), 0.8);
  /* font-style: italic; */
  font-size: 1.2rem;
}
.content-banner-duration {
  color: rgba(var(--foreground-rgb));
  text-align: right;
  justify-content: center;
}
.content-banner-expand-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  aspect-ratio: 1;
  position: relative;
  align-self: center;
}
.content-banner-expand-icon {
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
}
.h-bar,
.v-bar {
  height: 5px;
  width: 25px;
  background-color: rgba(var(--foreground-rgb));
  border-radius: 10px;
  transition: transform 1s ease-out, background-color 0.5s ease-out;
}
.plus-icon .v-bar {
  transform: rotateZ(270deg);
}
.minus-icon .v-bar {
  transform: rotateZ(0deg);
}
.content-banner:hover .h-bar,
.content-banner:hover .v-bar {
  background-color: rgba(var(--accent-1-rgb));
}

.content-banner-mobile-expand-btn {
  display: none;
}

.content-item-content {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  height: auto;
  align-items: center;
}
.content-item-title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content-item-desc {
  line-height: 1.6;
  margin-top: 1rem;
  background-color: rgba(var(--foreground-rgb));
  padding: 2rem 3rem;
  width: 95%;
}
.content-item-desc li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 10px;
  color: rgba(var(--background-rgb));
  font-size: 1.1rem;
}
.content-item-desc li p:first-child {
  color: rgba(var(--accent-1-rgb));
}

@media only screen and (max-width: 768px) {
  #content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  #content-wrapper {
    margin-top: 20px;
  }
  .content-banner-title {
    padding-bottom: 5px;
  }
  .content-banner-title > div:first-child {
    font-size: 1.2rem;
  }
  .content-banner-title > div:nth-child(2) {
    font-size: 0.9rem;
  }
  .content-banner-text-wrapper {
    flex-wrap: wrap;
    row-gap: 0;
    flex-direction: column;
  }

  .content-banner-duration {
    font-size: 0.9rem;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .content-banner-expand-btn {
    display: none;
  }
  .content-banner-mobile-expand-btn {
    display: flex;
    justify-content: center;
  }
  .content-banner-mobile-expand-btn * {
    transition: transform 0.5s ease-in-out;
  }
  .content-banner-mobile-maximize-icon {
    transform: rotate(0deg);
  }
  .content-banner-mobile-minimize-icon {
    transform: rotate(180deg);
  }

  .content-item-desc {
    padding: 1.5rem 1rem;
  }
  .content-item-desc li {
    font-size: 1rem;
  }
}
