#background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  box-sizing: border-box;
  overflow: hidden;
}
.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  --dist: 1;
  filter: grayscale(var(--dist));
  transform: scale(calc(1 + (1.5 - var(--dist))));
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}
.alternate .dot {
  color: rgba(var(--accent-1-rgb), 0.4);
}
.dot {
  color: rgba(var(--foreground-rgb), 0.2);
}
.item-container.active {
  /* transform: scale(2.5); */
}
.item-container.active > .dot {
  color: rgba(var(--accent-1-rgb), 1);
}
